body{
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: red solid 3px;
    text-align: center;
}

img{
    border-radius: 120px;
    width: 100px;
    padding: 2rem;
}
.perfil{
    font-size: 28px;
    color: azure; (74, 76,211)
    font-family:verdana ;
}
h1{
    font-size: 36px;  
      
}